.header {
  height: 60px;
  background-color: #f5f5f5;
}

.main {
  background-image:linear-gradient(to right, #d6249f, #fd5949);
  padding:2rem 0 3rem 0;
}

.faq {
  background-color: #f5f5f5;
  padding:2rem 0 3rem 0;
}
.container {
  margin: 0 auto;
  width: 1200px;
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .container {
    width:1200px;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .container {
    width: 99%;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .container {
    width: 99%;
  }
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
  .container {
    width: 99%;
  }
}
@media only screen and (max-width: 575px) and (min-width: 281px) {
  .container {
    width: 99%;
  }
}
@media only screen and (max-width: 280px) {
  .container {
    width: 99%;
  }
}

